<section class="container mt-5 p-4">

    <h3 class="text-primary text-center mb-4">Acerca de esta aplicación</h3>

    <div class="mt-4 row">
        <div class="col-10 col-md-8 col-lg-6 mx-auto">
            <p>
                Esta es una aplicación creada para recibir de manera segura donaciones a través 
                de Mercado Pago.
                Fue desarrollada con el fin de aprender a usar las pasarelas de pago 
                en plataformas e-commerce, aunque también se podría usar este desarrollo 
                en algún tipo de Sociedad o Movimiento sin fines de lucro que realice un bien 
                a personas que necesiten ayuda.
            </p>
        </div>
    </div>
    
</section>